/* 全局样都是表 */
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1300px;
}

.el-breadcrumb {
    margin-bottom: 15px;
}

.el-card {
    box-shadow: 0 1px 10x rgba(0, 0, 0, 0.15) !important;
}

.el-table {
    margin-top: 15px !important;
    font-size: 13px;
}

.el-cascader-panel {
    height: 300px;
}